@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
  --font-color:rgb(255, 255, 255);
  --background-color:rgb(22, 22, 24);
}

body {
  margin: 0;
  font-family:"Rubik", sans-serif;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background-color: var(--background-color);

}


*, *::after, *::before {
  box-sizing: border-box;
}
